
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<link href="/assets/bootstrap.css" rel="stylesheet" />
	<style>body{padding-top: 60px;}</style>
	<link href="/assets/bootstrap-responsive.css" rel="stylesheet" />
	<link href="/assets/bwizard.min.css" rel="stylesheet" />
	<link href="/assets/jasny-bootstrap.css" rel="stylesheet" />
	<link href="/assets/lightbox.css" rel="stylesheet" />
	<link href="/assets/fu.css" rel="stylesheet" />
	
	
	<script src="/assets/jquery.min.js" type="text/javascript"></script>
	<script src="/assets/bootstrap.js" type="text/javascript"></script>
	<script src="/assets/jasny-bootstrap.js" type="text/javascript"></script>
	<script src="/assets/bwizard.js" type="text/javascript"></script>
	<script src="/assets/burse/jquery.fu.js" type="text/javascript"></script>
	<script src="/assets/burse/iframe.js" type="text/javascript"></script>
	
	</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">      
        	<a class="brand" href="/app/application/index.html.erb">Burse</a>
        	<div class="nav-collapse collapse nav-bar-inverse-collapse">
        		<ul class="nav pull-right">
        		<li><a onclick="showModal()">Metodologie</a></li>
        		<li class="divider-vertical"></li>
        		<li><a href="logout">Iesire</a></li>
        		</ul>
        	</div>
        </div>
      </div>
    </div>

	<div class="container-narrow">

		<div class="masthead">
			<h4 class="title">Bursa de merit</h4>
			</div>
		<div id="wizard">
			<ol class="three-steps">
				<li>Date personale</li>
				<li>Upload documente</li>
				<li>Finalizare</li>
			</ol>
			<div class="span12">
			
			<table class="table table-striped">
				<tr>
					<th>
						Nume:
					</th>
					<td>
						Vasile
					</td>
				</tr>
				<tr>
					<th>
						Prenume:
					</th>
					<td>
						Gigel
					</th>
				</tr>
				<tr>
					
					<th>
						Domeniu:
					</th>
					<td>
						Matematica-Informatica
					</td>
				</tr>
				<tr>
					
					<th>
						Grupa:
					</th>
					<td>
						342
					</td>
				</tr>
			</table>
			<div class="info">
				<a class="text-error pull-right" href="account">Modifica date</a>
			</div>
			<div class="clearfix"></div>
			<form>
			 
				<label class="checkbox">
				<input type="checkbox"> Datele sunt corecte
				</label>
									
			</form>
			
			</div>
			<div class="span12">
			
				
				<!--single upload
					<div class="fileupload fileupload-new" data-provides="fileupload">
					<span class="btn btn-file btn-info btn-file-big"><span class="fileupload-new"><h3>Alege fisier</h3></span><span class="fileupload-exists">Schimba</span>
						<input type="file" /></span>
					<span class="fileupload-preview"></span>
					<a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
					</div>
				-->
					<!--multiple upload-->
					
				<div class="span6">
				
				<h4>Tips</h4>
					<p>Pentru a face upload de documente trebuie sa alegi fiecare fisier in parte apasand pe butonul "Alege fisier".</p>
					<p>Dupa ce fisierele au fost alese vei avea posibilitatea sa le stergi sau modifici din lista care va aparea</p>
				    <p>Dupa ce ai ales toate fisierele apasa pe butonul "Upload fisier"</p>
				</div>
				<div class="span3 offset2 burse-wizzard">
					<div id="manual-fine-uploader"></div>
					 <div id="triggerUpload" class="btn btn-primary " style="margin-top: 10px;">
						 <i class="icon-upload icon-white"></i> Upload
					 </div>
				</div>

				<div class="clearfix"></div>		
			</div>
			<div>
				<h4 class="text-success">Datele au fost trimise. Veti primi o notificare cu situatia bursei.</h4>
			</div>
			
		</div>
	
	</div>
		</div>
		<div class="modal hide fade" id="metodologieModal">
	    <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3>Descriere metodologie</h3>
	    </div>
		    <div class="modal-body">
		    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		    </div>
	    <div class="modal-footer">
	    <button type="button" class="btn btn-success" data-dismiss="modal" aria-hidden="true">OK</button>

	    </div>
    </div>
	<div class="bottom-logo">
		<img src="/assets/logo.png" width="150px" height="150px"/>
		</div>


	<script type="text/javascript">
	
	   $("#wizard").bwizard();
	</script>
	<script>
		$(document).ready(function() {
			//var manualuploader = new qq.FineUploader({
			element: $('#manual-fine-uploader')[0],
			request: {
			endpoint: 'server/handleUploads'  /* informatii despre partea de server si cum se trimit datele cu POST
						 https://github.com/Widen/fine-uploader-server/blob/master/readme.md */
			},
			autoUpload: false,
			text: {
			uploadButton: '<i class="icon-plus icon-white"></i> Alege Fisierul'
			},
			 template: '<div class="qq-uploader">' +
'<div class="qq-upload-button btn btn-info" style="width: auto;">{uploadButtonText}</div>' +
'<span class="qq-drop-processing-spinner"></span></span>' +
'<ul class="qq-upload-list" style="margin-top: 10px; text-align: center;"></ul>' +
'</div>',
			});
			$('#triggerUpload').click(function() {
			manualuploader.uploadStoredFiles();
			});
		});
		</script>
				<script type="text/javascript">
	   $("#wizard").bwizard();
	function showModal(){
	   $("#metodologieModal").modal('show') ;
	 }
	
	 $(".modalButton").click(function(){
		var id = this.id;
		var modalNou = '#modal' + id;
		$(modalNou).modal('show');
	 });
	</script>
